body{
    margin: 0;
    font-family: Arial, sans-serif ;

}
#section_slider{
    background-color: rgb(243, 243, 243);

}
#section_header_1{
    height: 60px;
}

#section_text_2 .alpha{
    float: left;
}
#section_text_2 .right_text{
    float: right;
}
#section_text_2 .container{
    background-color: rgb(243, 243, 243);
    height: 100px;

}

#section_text_2 .padding_left_10{
    margin-left: 200px;
    margin-top: 30px;
}
#section_text_2 .bold_text{
    font-size: 13px;
    font-weight: bold;
    color: white;

}
#section_text_2 .btn_normal{
    padding-left: 25px;
    padding-right: 25px ;
    padding-top: 12px;
    padding-bottom: 12px;
}
#section_text_2 .pix_button {
    position: absolute;
    top: 30px;
    right: 30px;
    margin-right: 270px;
}
  #section_text_2 .orange_bg{
      background-color: rgb(247, 120, 37);
      border: none;
      text-decoration: none;
      border-radius: 5px;

  }
#section_header_1 .navbar-left{
    display: flex;
    float: left;
    flex-direction: row;
    list-style: none;
}
.propClone{
    margin: 20px;

}
.navbar-nav a{
    text-decoration: none;
    color: rgb(140, 141, 140);
    font-weight: bold;

}
#navbar-collapse-02{
    margin-left: 140px;
}
#section_header_1 .bottom-icons{
    display: flex;
    float: right;
    flex-direction: row;
    list-style: none;
}
#section_header_1 .right_socials a{
    text-decoration: none;
    margin: 10px;
}
#section_header_1 .right_socials{
    margin-right: 270px;

}
