*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, sans-serif, Calibri;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #a5dedf;
}
.login_user{
    width: 430px;
    height: 340px;
    padding: 25px;
}
.login_user h3{
    text-align: center;
    margin: 15px 0 20px 0;
    font-weight: 600;
    font-size: 32px;
}
.input_user .input_text {
    width: 100%;
    height: 45px;
    font-size: 15px;
    padding: 0 15px;
    border-radius: 40px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    box-shadow: 1px 3px 20px 1px rgba(0,0,0, 0.25);
}
.input_user ::placeholder{
    font-weight: 600;
    color: #775f5f;
}
.input_text:focus{
    width: 110%;
}
.user_forgot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.user_forgot section a{
    text-decoration: none;
}
.user_forgot section a:hover{
    text-decoration: underline;
    color: #4e614f;
}
.input_submit .btn_submit{
    width: 100% ;
    height: 45px;
    background-color: #433c3c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin-bottom: 20px;
    font-size: 17px;
}
.btn_submit:hover{
    opacity: 0.5;
}
.sign_up_link{
    text-align: center;
}
.sign_up_link a{
    text-decoration: none;
    color: #433c3c;
    font-weight: 600;
}


